{{define "moduleA"}}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare felis non sagittis accumsan. Fusce luctus magna a odio hendrerit, at iaculis lorem pretium. Proin in ligula sit amet ligula ornare dignissim id ut diam. Quisque eu lobortis dui. Proin imperdiet euismod turpis quis imperdiet. Fusce non pharetra tellus. Fusce elementum mauris finibus rutrum finibus. Pellentesque dui risus, egestas sit amet aliquet sit amet, dictum non justo. Suspendisse potenti. Maecenas sed ante a eros cursus tincidunt non eget est. Etiam vestibulum libero dictum mauris efficitur ultricies. Fusce ultricies, lectus at auctor bibendum, metus dui ullamcorper nibh, faucibus tincidunt libero magna nec mi. Vestibulum turpis tortor, fermentum sed convallis nec, rhoncus non ligula. Suspendisse molestie bibendum tortor, pretium dictum libero ultricies a. Interdum et malesuada fames ac ante ipsum primis in faucibus.
</p>
{{end}}