<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <title>Hello</title>
</head>
<body>
    <h1>Test A</h1>
    {{template "moduleA"}}
    <h1>Test B</h1>
    {{template "moduleB"}}
    <h1>Test C</h1>
    {{template "moduleA"}}
</body>
</html>