{{define "moduleB"}}
<p>
Suspendisse potenti. In sit amet dapibus augue. Aliquam efficitur, metus quis vehicula tristique, quam magna lacinia tortor, ut facilisis tortor eros maximus turpis. Proin aliquet accumsan ultrices. Phasellus pretium laoreet eros, eget sollicitudin ex commodo vitae. Vivamus a maximus felis, quis lacinia mi. Aliquam interdum, turpis vel bibendum semper, nulla dolor malesuada nisl, et accumsan est turpis gravida tortor. Vivamus sit amet ipsum velit. Nunc molestie vestibulum dolor at dapibus. Etiam aliquam orci dolor, nec rhoncus mi placerat vitae. Vivamus ac elit dui. Maecenas nec massa ultrices, mollis tellus nec, consectetur risus. Fusce lectus orci, ornare maximus elementum ut, vulputate ut elit.
</p>
{{end}}