<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <title>TPL_FUNCTIONS_TEST</title>
</head>
<body>
    <h1>Edit 0</h1>
    {{uc ((index . 0).Fname)}}
    <h1>Edit 1</h1>
    {{rev ((index . 1).Lname)}}
</body>
</html>