<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
    </head>
    <body>
        <form action="/upload" method="post" enctype="multipart/form-data">
            Select a file to upload:
            <input type="file" id="fileToUpload" value="Select File..." name="reqFile">
            <input type="submit" value="Upload" name="submit">
        </form>
    </body>
</html>