<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <title>TPL_DATATEST</title>
</head>
<body>
    <h1>Student List</h1>
    <ul>
        {{range $Index, $Element := .StudentList}}        
        <li>{{$Index}} - {{$Element}}</li>
        {{end}}
    </ul>
    <h1>Car Manufacturer List</h1>
    <ul>
        {{range $Index, $Element := .CarManufacturerList}}
        <li>{{$Index}} - {{$Element.Name}}, {{$Element.Country}}</li>
        {{end}}
    </ul>
</body>
</html>